
.services__item {
    padding: 20px;
    display: flex;
    align-items: center;
    column-gap: .7rem;
    border-radius: 5px;
    cursor: pointer;
}

.services__item span i {
    font-size: 2.2rem;
    background: var(--primary-color);
    padding: 10px;
    border-radius: 50px;
    color: #fff;
    font-weight: 400 !important;
}

.services__item h3 {
    color: var(--primary-color);
    font-size: 1.1rem;
    font-weight: 700;
}

.services__item p {
    font-size: .9rem;
    margin-top: 5px;
    color: #222;
}