.header {
    width: 100%;
    height: 70px;
    line-height: 70px;
    transition: all .6s;
}

.nav__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    column-gap: 8px;
}

.logo img {
    width: 35px;
    height: 35px;
}

.logo h1 {
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--primary-color);
}

.menu {
    display: flex;
    align-items: center;
    column-gap: 2.7rem;
}

.nav__item a {
    color: var(--primary-color);
    font-weight: 500;
    cursor: pointer;
}

.nav__icons {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 1rem;
}

.nav__icons span img {
    width: 40px;
}

.cart__icon, .fav__icon {
    position: relative;
}

.badge {
    position: absolute;
    top: 25%;
    right: -40%;
    content: '';
    background: var(--primary-color);
    color: #fff;
    font-size: .5rem;
    border-radius: 100%;
    font-family: 'Montserrat', sans-serif;
}

.badge > span {
    font-family: 'Montserrat', sans-serif;
}


.nav__active {
    font-weight: 700 !important;
}

.stickly__header {
    width: 100%;
    height: 70px;
    line-height: 70px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;
    box-shadow: 3px 3px 8px -3px #ddd;
    background: var(--hero-bg);
    transition: all .6s;
}

.mobile__menu {
    display: none;
}

.button__mobile {
    display: none;
}

.btn__login > a {
    padding: 6px 12px;
    border-radius: 5px;
    border: 1px solid var(--primary-color);
    font-weight: 700;
}



@media only Screen and (max-width:768px) {
    .navigation {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.53);
        z-index: 9999;
    }

    .menu {
        position: absolute;
        top: 0;
        right: 0;
        width: 250px;
        height: 100%;
        background: #fff;
        z-index: 99999;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .active__menu {
        display: block;
    }

    .mobile__menu {
        display: block;
    }

    .mobile__menu span i{
        font-size: 1.1rem !important;
    }

    .logo img {
        width: 1rem;
        height: 1rem;
    }

    .logo {
        font-size: 1rem;
    }

    .fav__icon i, .cart__icon i {
        font-size: 1.2rem !important;
    }

    .nav__icons span i {
        width: 1.4rem;
        height: 1.4rem;
    }

    .header {
        width: 100%;
        height: 60px;
        line-height: 60px;
    }

    .navigation {
        display: none;
    }

    .button__mobile {
        display: block;
        position: absolute;
        top: 15px;
        left: 25px;
        background-color: var(--primary-color);
        color: #fff;
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1rem;
    }

    .active__navigation {
        display: block !important;
    }
}