.filter_widget select{
    padding: 8px 20px;
    border: 1px solid black;
    cursor: pointer;
    border-radius: 5px;
    background-color: rgb(16, 13, 23);
    color: white;

}
.filter_widget select:focus{
    outline: none !important;
}
.search_box{
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: space-between;
   border-radius: 5px;
   padding-right: 12px;
   padding-left: 2px;



}
.search_box input{
    width: 100%;
    /* border: none; */
    outline: none;
    padding: 8px 10px;
}
.search{
    color: black;
    margin-left:-83px;

}