/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/*  css variables */
:root {
  --card-bg-01: #fdefe6;
  --card-bg-02: #d6e5fb;
  --card-bg-03: #ceebe9;
  --card-bg-04: #e2f2b2;
  --primary-color: #0a1d37;
  --hero-bg: #d6e5fb;
  --heading-fontSize: 2rem;
  --small-text-color: #999;
  --heading-text-color: #0a1d37;
}

/* reset browser default */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Overpass', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

p {
  color: var(--small-text-color);
  font-size: 1rem;
}

h1,
h2 {
  font-size: var(--heading-fontSize);
}

ul {
  list-style: none;
  margin-bottom: 0;
  margin-left: 0;
}

a {
  text-decoration: none;
  color: unset;
}

img {
  width: 100%;
}

section {
  padding: 60px 0;
}

.section__title {
  color: var(--primary-color);
  font-weight: 600;
  text-align: center;
}

.back__top {
  position: fixed;
  background-color: var(--card-bg-04);
  bottom: 40px;
  right: 40px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  transition: all 1s ease-in-out;
}

.hidden__button {
  display: none;
  transition: all 1s ease-in-out;
}

.line__page {
  height: 1px;
  background-color: rgba(1, 1, 1, 0.4);
}

